body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0px;
    padding: 20px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
canvas {
    display: block;
    margin: 0 auto 40px auto;
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #fff;
}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.chart-item {
    flex: 1;
    min-width: 450px; 
    max-width: 450px;
    padding: 10px;
}
.navbar ul{
    list-style-type: none;
    background-color: #ccc;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #333;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #b9b9b9;
}
.navbar li{
    float: left;
}
.date-picker-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}
.date-picker-group {
    width: 48%;
}
.form-control {
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
}
.btn-primary {
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
}